@model RequestCepModel

@{
    ViewData["Title"] = "Restaurantes";
    Layout = null;
}

<link rel="stylesheet" href="~/css/rest.css">


<div>
    <h1>@Model</h1>
    <br />
    <br />

    <a asp-controller="Restaurantes" asp-action="Index">Voltar</a>
</div>